@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

body{
    background-color: rgb(130, 125, 125);
}

/* start of navbar */
.navbar{
    height: 7vh;
    background-color: black;
    color: white;
}

.navbar ul{
    height: 6vh;
    display: flex;
    align-items: center;
}

.navbar ul li{
    padding: 0 12px;
    list-style: none;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 35px;
    padding: 0 8px;
}
/* end of navbar */


/* start of main */

.container{
    height: 74vh;
    width: 75%;
    background-image: url(/images/bg.jpg);
    background-position: center;
    background-size: cover;
    margin: 20px auto;
    border-radius: 10px;
}

.list ul{
    display: flex;
    flex-direction: column;
}

.list ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: white;
    width: 35vw;
    height: 5vh;
    margin: 6px;
    padding: 2px;
    border-radius: 43px;
    cursor: pointer;
}

.list ul li h4{
    font-family: 'Varela Round', sans-serif;
}

.list ul li img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

/* end of main */


/* start of bottom */
.bottom{
    height: 13vh;
    background-color: black;
    color: white;
}

.foot{
    width: 85%;
    margin: 0 auto;
}

.foot input{
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
}

.name{
    display: flex;
}

.icons{
    order: 2;
    margin-left: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons i{
    padding: 2px 8px;
    margin: 4px;
    cursor: pointer;
}

.singer{
    margin-top: 15px;
    display: flex;
}

.singer img{
    height: 2.5vh;
    width: 5vw;
    margin-right: 10px;
    margin-left: 4px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

#singerName{
    font-family: 'Varela Round', sans-serif;
    width: 20vw;
}

/* end of bottom */


/* responsive */

@media screen and (max-width: 700px){

    body{
        overflow: hidden;
    }
    
    .navbar ul li{
       font-size: 16px;
    }

    .container{
        height: 71vh;
        width: 95%;
        margin: 6px auto;
        background: black;
        border-radius: 5px;
    }

    .list ul{
        justify-content: center;
        align-items: center;
    }
    
    .list ul li{
        width: 300px;
        height: 5vh;
        margin: 4px;
        border-radius: 50px;
    }

    .list ul li h4{
        font-size: 16px;
    }

    .list ul li span{
        font-size: 16px;
    }

    .name{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .singer{
        margin-top: 5px;
    }

    .singer img{
        width: 18vw;
        margin-right: 10px;
    }
    
    #singerName{
        margin-left: 30px;
        width: 70vw;
        font-size: 16px;
    }

    .bottom{
        height: 20vh;
    }

    .icons{
        margin-left: 0;
    }

}
